body{
  text-align: center;
  background-color: ##000000;
  color: #ffffff;
}

h1{
  font-family: 'Germania One', sans-serif;
  font-size: 2em;
}

h2{
 font-family: 'Poppins', sans-serif;
}

img{
  width: 100%;
  height: auto;
}

p{
  font-family: 'Poppins', sans-serif; 
}

.gmimg{
   width: 45%;
   height: auto;
}

.gmtxt{
   margin-right: 27.5%;
   margin-left: 27.5%;
}
