body{
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}

h1{
  font-family: 'Germania One', sans-serif;
  font-size: 2em;
}

h2{
 font-family: 'Poppins', sans-serif;
 color: #8D0AC4;
}

img{
  width: 100%;
  height: auto;
}

.gifhead{
  -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
  filter: blur(1px);  
}

p{
  font-family: 'Poppins', sans-serif; 
}

.fgdatop{
  text-align: center;
  width: 25%;
}

.gmimg{
   width: 45%;
   height: auto;
}

.gmtxt{
   margin-right: 27.5%;
   margin-left: 27.5%;
}

.footer{
   text-align: left;
   font-size: 0.6em;
}
